# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. matplotlib
4. Tensorflow
5. seaborn
6. scikit-learn
7. keras
8. scipy

   | Data Science Tools |
   | ------------------ |
   | Jupyter Notebook   |
   | R studio           |
   | Visual studio code |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers.

17

In [6]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

Objectives : 
+ Python
+ R
+ SQL
+ Java
+ Scala

## Author
Amgoth Sunil